# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Caches
*.cache
*.log

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Virtual environments
venv/
env/
ENV/
.venv/
.python-version

# Flask instance folder
instance/
.webassets-cache

# PyCharm & VSCode
.idea/
.vscode/

# Jupyter Notebook
.ipynb_checkpoints/

# System files
.DS_Store
Thumbs.db

# Model artifacts
model/*.pkl

# Uploaded or temporary data
uploads/
*.tmp
*.bak

# Environment config and secrets
.env
*.secret
secrets.txt

# CSV & raw datasets
data/*.csv
!data/mbti_traits.json
!data/mbti_celebrities.json
!data/mbti_rarity.json
!data/mbti_funparagraph.json

# GitGuardian flag avoidance
**/SECRET_KEY*
